
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let product of productList">
      <div class="card">
        <div class="card-image">
            <img [src]="product.image" style=" display:block;width: 40%; height: auto; margin-left: auto; margin-right: auto;" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title" style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 100 ch;">{{product.title}}</h5>
          <p class="card-text" style="white-space: nowrap;overflow: hidden; text-overflow: ellipsis; max-width: 100 ch;">{{product.description}}</p>
          <p><strong>Price:</strong>${{product.price}}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" (click)="addToCart(product)">Add To Cart</a>
          </div>
      </div>
    </div>

  </div>
  