
<div class="belowNavBar">

    <div class="smallCard">
      <img src="assets/images/menuIcon1.webp" alt="menuIcon1" class="card">
      <p >All Products</p>
    </div>

    <div class="smallCard">
      <img src="assets/images/menuIcon10.png" alt="menuIcon1" class="card">
      <p>Jewllery</p>
    </div>

    <div class="smallCard">
      <img src="assets/images/menuIcon6.webp" alt="menuIcon1" class="card">
      <p>Electronic</p>
    </div>

    <div class="smallCard">
      <img src="assets/images/menuIcon3.webp" alt="menuIcon1" class="card">
      <p>Fashion</p>
    </div>

    <div class="smallCard">
      <img src="assets/images/menuIcon8.webp" alt="menuIcon1" class="card">
      <p>Toys</p>
    </div>

    <div class="smallCard">
      <img src="assets/images/menuIcon9.webp" alt="menuIcon1" class="card">
      <p>Bikes</p>
    </div>

  </div>
<div class="line"></div>
<app-carousel></app-carousel>
<div class="line"></div>
<app-card></app-card>
